# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.DS_Store

# Custom
scripts/
systemd/
jb
jamhub.db
jamhub-build*
.jamhub
.jam
jamhub-build.zip
.vscode
gen/
x509/
certs/
jamhub/
jamhubweb.zip
jamhubgrpc.zip
*.db

**node_modules/
//node_modules/
*.bundle.js

**opdata/
**oplocs/
