{{template "head.html" args
"title" "Home"
"canonical" ""
"description" "JamHub is a open-source version control system for game developers."
}}

<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="About">
            <div class="About-header">
                <span class="About-headerLeft">Announcing Jam</span>
                <svg id="a" width="60px" height="60px" version="1.1" viewBox="0 0 256 256"
                    xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.8">
                        <path
                            d="m220.45 14.531c-23.261-1.2646-41.24 16.834-58.42 44.842-1.3476 2.1975-.64013 5.0602 1.58 6.3938 2.22 1.3339 10.692 8.9196 12.04 6.7219 8.1343-25.31 31.513-31.681 51.345-36.795 0 0-2.1438-20.924-6.5446-21.163z"
                            color="#000000" fill="#007a0b" stroke-width="11.269" />
                        <g fill="#ff007f" stroke-width="11.269">
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-189.16" cy="-105.54"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-152.84" cy="-68.797"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-212.42" cy="-62.836"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-116.73" cy="-6.1428"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-230.51" cy="9.1266"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-199.39" cy="58.236"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-139.22" cy="47.193"
                                rx="36.007" ry="41.807" />
                            <ellipse transform="matrix(-.73717 -.67571 .68316 -.73027 0 0)" cx="-175.45" cy="-4.1575"
                                rx="36.007" ry="41.807" />
                        </g>
                    </g>
                </svg>
            </div>
            <h1>Building a better Perforce</h1>
            <p class="About-description">
                Current closed-source systems, like Perforce and Plastic/Unity DevOps, are expensive and complex. Current open-source solutions, like Git or SVN, are
                difficult to use
                and do not scale
                with large projects containing large files. Game developers want to focus on their game, not their
                version control.
            </p>
           <!-- Begin Brevo Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->
    <style>
        .input--hidden{display:none !important}
        .sib-form-message-panel{width:100%;padding:0.4375rem;border:1px solid;display:none}
        .sib-form-message-panel--active{display:inline-block}.sib-form-message-panel__text{display:flex;align-items:center;margin:0;padding:0.5rem}.sib-form-message-panel__text .sib-icon{contain:strict;display:inline-block;fill:currentColor}
    </style>
  <!-- <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css"> -->
  <!--  END - We recommend to place the above code in head tag of your website html -->
  
  <!-- START - We recommend to place the below code where you want the form in your website html  -->
  <div class="sib-form">
    <div id="sib-form-container" class="sib-form-container">
      <div id="error-message" class="sib-form-message-panel" >
        <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
          <span class="sib-form-message-panel__inner-text">
                Your subscription could not be saved. Please try again.
            </span>
        </div>
      </div>
      <div></div>
      <div id="success-message" class="sib-form-message-panel" style="display: none;">
        <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
          <span class="sib-form-message-panel__inner-text">
                Thanks for subscribing! Keep a look out for an email in the next few weeks.
            </span>
        </div>
      </div>
      <div id="sib-container" class="sib-container--large sib-container--vertical" >
        <form id="sib-form" method="POST" action="https://515dc600.sibforms.com/serve/MUIFAP-l0MpMPMT2K4VtjA9ghp7cu7RD7UXpnX_9F6JvJXO8B9PNgvRG2KoRRuT_mZpyNV_Fu_jQCZJ6D_TTz3Lrl_1s7uGY9TIjlbFUFj03uqG88uEjOlv7wPxl48W6gCAyapLKkZq_P4z22DnFRWmoXUVpv6QBKM9Hm659FFLuJhvxlonVWTGxiieYVD4mtsSEIj-Gafc9peDH" data-type="subscription">
          <div >
            <div class="sib-form-block" >
              <h2>Newsletter</h2>
            </div>
          </div>
          <div>
            <div class="sib-form-block">
              <div class="sib-text-form-block">
                <p>Subscribe to our newsletter to get updates (~1/month).</p>
              </div>
            </div>
          </div>
          <div>
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row ">
                  <label class="entry__label" for="EMAIL" data-required="*">Enter your email address to subscribe</label>
                  <div class="entry__field">
                    <input class="input sib-form-input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Email" data-required="true" required />
                    <div class="sib-form-block">
                        <button class="sib-form-block__button sib-form-block__button-with-loader" form="sib-form" type="submit">
                            <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512" style="display: none">
                                <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                            </svg>
                            Subscribe
                        </button>
                    </div>
                  </div>
                  <label class="entry__error entry__error--primary">
                    </label>
                </div>
              </div>
            </div>
          </div>
          <input type="text" name="email_address_check" value="" class="input--hidden">
          <input type="hidden" name="locale" value="en">
        </form>
      </div>
    </div>
  </div>
  <!-- END - We recommend to place the below code where you want the form in your website html  -->
  
  <!-- START - We recommend to place the below code in footer or bottom of your website html  -->
  <script>
    window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
    window.LOCALE = 'en';
    window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
    window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
    window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
    window.translation = {
      common: {
        selectedList: '{quantity} list selected',
        selectedLists: '{quantity} lists selected'
      }
    };
    var AUTOHIDE = Boolean(0);
  </script>
  <script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
  
  
  <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
  <!-- End Brevo Form --> 
        </section>
    </main>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}