{{template "head.html" args
"title" "Home"
"canonical" ""
"description" "JamHub is a open-source version control system for game developers."
}}

<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="About">
            <h1>Roadmap</h1>
            <p class="About-description">
                Currently Jam and JamHub are in the early stages of development. You can use JamHub to version control
                your game, but it is not yet ready for production. Below is a list of features that are planned for the
                future.
            </p>
            <h2>Q3 2023</h2>
            <ul>
                <li>Merge messages</li>
                <li>Change reviews</li>
                <li>Commit reverts</li>
                <li>Hard file locking</li>
            </ul>
            <h2>Q4 2023</h2>
            <p class="About-description">
                <ul>
                    <li>Soft File locking</li>
                    <li>CI/CD integration</li>
                    <li>Unreal Engine Plugin Integration</li>
                    <li>Unity Plugin Integration</li>
                    <li>Standalone UI</li>
                    <li>Partial Cloning</li>
                </ul>
            </p>
        </section>
    </main>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}